<div class="wrapper">

  <h2 class="footer-heading">Your awesome title</h2>

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:your-email@example.com">your-email@example.com</a></li>
      </ul>
    </div>

    <div class="footer-col footer-col-2">
      <ul class="social-media-list">
        <li>
          Facebook
        </li>
    
        <li>
          Twitter
        </li>
      </ul>
    </div>

    <div class="footer-col footer-col-3">
      <p>{{ site.description }}</p>
    </div>
  </div>

</div>