.parallax-welcome { background-image: url('welcome.jpg'); }
.parallax-chef { background-image: url('chef.jpg'); }

.welcome {
	position: absolute;
	top: 25%;
	width: 60%;
	margin: 0 auto;
	color: $white;
	text-align: center;
}