.welcome {
  background-image: url('welcome.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
  .background {
    position: relative;
	  height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-bottom: 45px;

		background-color: 000;
    opacity: 0.85;
		
		color: #FFF;
		text-align: center;
  }
}